<h1>Submit an Article!</h1>

<div class="contrast-font">
<%= form_for @article do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.label "URL Name: " %>
	<%= f.text_field :name %>

	<%= f.label "URL : " %>
	<%= f.text_field :url %>

	<%= f.label "Topics? (delimeter by , )" %>
	<%= f.text_field :topics %>
 	</br>
	<%= f.submit "Submit URL", class: 'btn btn-primary' %>
<% end %>
</div>
