  <div class="contrast-font">
  <h3><%= @article.name %> </h3>
  <br/>
  <h3>System Score: <%= @score %></h3>
  </br>
  <h3>Up Votes: <%= @article.up_vote %></h3>
  <br/>
  <h3>Down Votes <%= @article.down_vote %></h3>
  <br/>
  <h3> Topic List </h3>
  <ul>
    <%  @article.topic_list.each do |topic| %>
      <li><%= topic.capitalize %> </li>
    <% end %>
  </ul>
  <% if not user_signed_in? %>
    <h3>Must be signed in to vote!</h3>
  <% else %>
    <%= form_for @article do |f| %>
    <% if not @vote %>
        <span>Already voted!</span>
      <% else  %>
        <%= f.submit "Up", name: "up_vote", class:'btn btn-success'  %>
        | <%= f.submit "Down", name: "down_vote", class:'btn btn-danger'  %>
      <% end %>

  <% end %>
  <% end %>
</div>
